.header_PC {
  position: fixed;
  width: 100%;
  z-index: 1000; // 필요한 경우 z-index 조정
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  box-shadow: 0 0.2rem rgba(228, 228, 228, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(0.5rem);

  @media (min-width: 1024px) {
    top: 0;
    bottom: auto;
    flex-direction: row;

    .home_PC {
      margin-right: auto;
    }

    .calendar,
    .emotion,
    .profile_PC {
      margin-left: 1rem;
    }

    a h1 {
      display: none; // PC 버전에서는 h1 텍스트 숨기기
    }
  }

  @media (max-width: 1023px) {
    background-color: #fff;
    height: 9rem;
    border-radius: 2rem 2rem 0 0;
    box-shadow: 0 0.2rem rgb(228, 228, 228, 0.5);
    top: auto;
    bottom: 0;
    display: flex;
    min-width: 349px;

    .home_PC,
    .calendar,
    .emotion,
    .profile_PC {
      margin: 0;
    }

    a h1 {
      display: block; // 모바일 버전에서는 h1 텍스트 보이기
    }
  }
}

.home_PC img {
  content: url("/home_black.svg"); // 기본 이미지

  @media (min-width: 1024px) {
    content: url("/emotion1-folded.svg"); // 1024px 이상일 때 이미지 변경
  }
}

.header_MO,
.profile_MO {
  display: flex; // 기본값, 작은 화면에서 보이게 함

  @media (min-width: 1024px) {
    display: none; // 1024px 이상일 때 숨기기
  }
}

.profile_PC {
  display: block; // 기본값, 큰 화면에서 보이게 함

  @media (max-width: 1023px) {
    display: none; // 1023px 이하일 때 숨기기
  }
}
