// input.scss

@mixin base-input {
  display: block;
  font-size: 1.4rem;
  font-weight: 400;
  border: 0.1rem solid #cbcbcb;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.2);
  box-sizing: border-box;

  &::placeholder {
    color: var(--color-gray-50);
  }

  &:focus {
    border-color: var(--color-gray-70);
  }

  img {
    width: 2.4rem;
    margin-left: auto;
  }
}

.normal {
  @include base-input();
  width: 30rem;
}

.full {
  @include base-input();
  width: 100%;
  padding: 0 0.2rem;
}
