.emotion-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--header-height-mo);
}

.header-content {
  display: flex;
  align-items: center;
}

.button-back {
  background-image: url(/icon-arrow.svg);
}

.Button-userInfo {
  background-image: url(/icon-user.svg);
  background-color: red;
}

.button-back,
.Button-userInfo {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 4rem; // 적절한 크기로 조정
  height: 2.4rem; // 적절한 크기로 조정
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="month"] {
  font-weight: 700;
  appearance: none;
  font-size: 1.6rem;
  color: var(--color-black);

  &::-webkit-calendar-picker-indicator {
    background-image: url("/icon-more.svg");
    background-size: 1.8rem;
    background-repeat: no-repeat;
    background-position: center 0.4rem;
    cursor: pointer;
  }
}
