.map {
  width: 100vw;
  height: 100svh;
  overflow: hidden;
  position: relative;
  left: 50%;
  transform: translateX(-50%);

  .emotionAddWr {
    position: fixed;
    right: var(--layout-padding);
    bottom: calc(11.5rem + var(--layout-padding));
    z-index: 9;
    transition: all var(--transition-duration);

    &.dis-no {
      opacity: 0;
      visibility: hidden;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(20%, -20%);
      background: url(/icon-add-black.svg) no-repeat center / cover;
      width: 3rem;
      aspect-ratio: 1/1;
    }

    .emotionAdd {
      background: url(/emotion1.svg) no-repeat center / cover;
      width: 6rem;
      aspect-ratio: 1/1;
      cursor: pointer;
    }

    .noData {
      display: none;
    }

    &.noData {
      .noData {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: max-content;
        background: url(/img-bubble.svg) no-repeat center / cover;
        font-size: 1.6rem;
        padding: 1.3em 2.7em 2.5em;
        border-radius: 1rem;
        transform: translate(-95%, -90%);
      }
    }
  }

  .searchWr {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 20rem;
    height: var(--header-height-mo);
    z-index: 1;
    display: flex;
    align-items: center;

    #search {
      background: #fff url(/icon-search.svg) no-repeat center right 0.5rem;
      padding-right: 4rem;
    }
    button {
      width: 4rem;
      aspect-ratio: 1/1;
      position: absolute;
      right: 0;
      top: 0;
      transform: translateX(100%);
      cursor: pointer;
    }
  }

  .markerContent {
    padding: 0.6rem 1.2rem;
    background: #fff;
    border-radius: 2rem;
    box-shadow: var(--box-shadow);
    font-size: 1.3rem;
    margin-top: -5.5rem;
  }
}

.emotionLists {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  font-size: var(--title-large);

  li {
    cursor: pointer;
    display: flex;
    gap: 2rem;

    img {
      width: 4.6rem;
    }

    .r-wr {
      flex-grow: 1;

      .t-wr {
        color: var(--color-gray-50);
        font-size: var(--title-medium);
        display: flex;
        justify-content: space-between;

        .date {
          font-size: var(--title-small);
        }
      }
      .b-wr {
        margin-top: 0.5rem;

        .content {
          display: -webkit-box;
          word-wrap: break-word;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          max-height: 3em;
        }
      }
    }
  }
}

.recordModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.4rem;

  .emotion {
    width: 5.4rem;
  }
  .date {
    font-size: 1.6rem;
    font-weight: 500;
  }
  .image {
    width: 100%;
    max-width: 30rem;
    border-radius: 1.2rem;
    aspect-ratio: 300/160;
    object-fit: cover;
  }
  .closePrevention {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 2.4rem;
    height: 2.4rem;
    background: #fff;
  }
}

@media (min-width: 1024px) {
  .map {
    margin-top: -6rem;

    .markerContent {
      font-size: 1.4rem;
      margin-top: -6rem;
    }

    .emotionAddWr {
      bottom: var(--layout-padding);

      .noData {
        font-size: 1.8rem;
      }
    }

    .searchWr {
      top: 8rem;
    }
  }
}
