.emotions {
  .emotion-container {
    display: flex;
    margin-top: 5rem;
    margin-bottom: 3rem;
    flex-direction: column;
    gap: 1.2rem;
    min-height: 10rem;
    border-radius: 1.2rem;
    box-sizing: border-box;
    box-shadow: var(--box-shadow);

    .emotion-text-wrapper {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      h3 {
        margin-top: 1.3rem;
        margin-bottom: 1.3rem;
      }
    }

    .emotiontext_h1 {
      margin-top: 2.2rem;
      color: var(--color-black);
      font-size: 1.8rem;
    }

    .emotiontext_p {
      font-size: 1.6rem;
      color: var(--color-gray-70);
    }
  }
  .emotion-position {
    margin-left: 2rem;
  }
  .emotions_sum {
    display: flex;
    flex-direction: column;

    .emotion-size {
      width: 3.7rem;
      margin-right: 2rem;
    }

    .emotion-stat {
      max-width: 30rem;
      display: flex;
      align-items: center;
      margin-bottom: 2rem;
    }
    .emotion-stat-position {
      display: flex;
      flex-direction: column;
    }
    .emotion-1 {
      display: flex;
      align-items: center;
    }

    .progress-bar {
      height: 1.5rem;
      overflow: hidden;

      .progress-bar-fill {
        height: 10%;
        transition: var(--transition-duration);
        color: var(--color-black);
        margin-top: 1rem;
      }
    }
  }
}
