:root {
  --color-primary: #;
  --color-secondary: #;

  --color-warning: #;
  --color-error: #;

  --color-black: #000000;

  --color-gray-30: #a9a9a9;
  --color-gray-50: #a6a6a6;
  --color-gray-70: #666666;

  --color-white: #ffffff;
}
